.count ul li {
  list-style: none;
  float: left;
  padding: 5px;
  margin-right: 5px;
  cursor: pointer;
  -webkit-border-radius: 5px;
}
.count ul li:hover {
  color: #fff;
  background-color: #428bca;
}