<div class="container" style="width:450px;">
  <form name="form">
    <h1>Login</h1>
    <div class="alert alert-danger" ng-show="isError">登录失败</div>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Username" ng-model="uname" required></input>
      <input type="password" class="form-control" placeholder="Password" ng-model="pwd" required></input>
    </div>
    <div class="form-group">
      <button class="btn btn-primary btn-block" ng-click="login($event, form)">Login</button>
    </div>
  </form>
</div>
