<ng-include src="'partials/header.html'"></ng-include>

<!-- navbar end -->
<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <ul class="list-group">
        <a href="" class="list-group-item" ng-click="selectMenu(0)" ng-class="{active: selectedMenu == 0}">修改密码</a>
        <a href="" class="list-group-item" ng-click="selectMenu(1)" ng-class="{active: selectedMenu == 1}" ng-if="['leader', 'admin'].indexOf(userinfo.role)!=-1">修改用户</a>
        <a href="" class="list-group-item" ng-click="selectMenu(2)" ng-class="{active: selectedMenu == 2}" ng-if="['leader', 'admin'].indexOf(userinfo.role)!=-1">添加用户</a>
        <a href="" class="list-group-item" ng-click="selectMenu(3)" ng-class="{active: selectedMenu == 3}" ng-if="['leader', 'admin'].indexOf(userinfo.role)!=-1">销售管理</a>
        <a href="" class="list-group-item" ng-click="selectMenu(4)" ng-class="{active: selectedMenu == 4}" ng-if="['leader', 'admin'].indexOf(userinfo.role)!=-1">区域管理</a>
        <a href="" class="list-group-item" ng-click="selectMenu(5)" ng-class="{active: selectedMenu == 5}" ng-if="['leader', 'admin'].indexOf(userinfo.role)!=-1">行业管理</a>
        <a href="" class="list-group-item" ng-click="selectMenu(6)" ng-class="{active: selectedMenu == 6}" ng-if="['leader', 'admin'].indexOf(userinfo.role)!=-1">代理商管理</a>
        <a href="" class="list-group-item" ng-click="selectMenu(7)" ng-class="{active: selectedMenu == 7}" ng-if="['leader', 'admin'].indexOf(userinfo.role)!=-1">项目类型管理</a>
        <a href="" class="list-group-item" ng-click="selectMenu(8)" ng-class="{active: selectedMenu == 8}" ng-if="['leader', 'admin'].indexOf(userinfo.role)!=-1">客户管理</a>
      </ul>
    </div>
    <div class="col-sm-9" ng-switch="selectedMenu">
      <!-- 修改密码 -->
      <div class="row" ng-switch-when="0" style="width:300px;">
        <ng-include src="'partials/settings/tab0.html'"></ng-include>
      </div>
      <!-- 修改用户 -->
      <div class="row" ng-switch-when="1">
        <ng-include src="'partials/settings/tab1.html'"></ng-include>
      </div>
      <!-- 添加用户 -->
      <div class="row" ng-switch-when="2">
        <ng-include src="'partials/settings/tab2.html'"></ng-include>
      </div>
      <!-- 销售管理 -->
      <div class="row" ng-switch-when="3">
        <ng-include src="'partials/settings/tab3.html'"></ng-include>
      </div>
      <!-- 区域管理 -->
      <div class="row" ng-switch-when="4">
        <ng-include src="'partials/settings/tab4.html'"></ng-include>
      </div>
      <!-- 行业管理 -->
      <div class="row" ng-switch-when="5">
        <ng-include src="'partials/settings/tab5.html'"></ng-include>
      </div>
      <!-- 代理商管理 -->
      <div class="row" ng-switch-when="6">
        <ng-include src="'partials/settings/tab6.html'"></ng-include>
      </div>
      <!-- 项目类型管理 -->
      <div class="row" ng-switch-when="7">
        <ng-include src="'partials/settings/tab7.html'"></ng-include>
      </div>
      <!-- 客户管理 -->
      <div class="row" ng-switch-when="8">
        <ng-include src="'partials/settings/tab8.html'"></ng-include>
      </div>
    </div>
  </div>
</div>