<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">AIM.CRM</a>
    </div>
    <!-- user -->
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="" class="dropdown-toggle" data-toggle="dropdown">{{userinfo.realname}} <span class="badge">{{num}}</span> <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="">通知 <span class="badge pull-right">{{num}}</span></a> 
          </li>
          <li class="divider" ng-if="['finance', 'admin'].indexOf(userinfo.role) != -1"></li>
          <li><a href="" ng-if="['finance', 'admin'].indexOf(userinfo.role) != -1">财务</a> 
          </li>
          <li class="divider" ng-if="['leader', 'admin'].indexOf(userinfo.role) != -1"></li>
          <li ng-if="['leader', 'admin'].indexOf(userinfo.role) != -1"><a href="#/setting">设置</a> 
          </li>
          <li class="divider"></li>
          <li><a href="/logout">退出</a> 
          </li>
        </ul>
      </li>
    </ul>
    <!-- user end -->
  </div>
</nav>

<!-- navbar end -->
<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <ul class="list-group">
        <a href="" class="list-group-item" ng-click="selectMenu(0)" ng-class="{active: selectedMenu == 0}">修改密码</a>
        <a href="" class="list-group-item" ng-click="selectMenu(1)" ng-class="{active: selectedMenu == 1}" ng-if="['leader', 'admin'].indexOf(userinfo.role)!=-1">修改用户</a>
        <a href="" class="list-group-item" ng-click="selectMenu(2)" ng-class="{active: selectedMenu == 2}" ng-if="['leader', 'admin'].indexOf(userinfo.role)!=-1">添加用户</a>
        <a href="" class="list-group-item" ng-click="selectMenu(3)" ng-class="{active: selectedMenu == 3}" ng-if="['leader', 'admin'].indexOf(userinfo.role)!=-1">销售管理</a>
        <a href="" class="list-group-item" ng-click="selectMenu(4)" ng-class="{active: selectedMenu == 4}" ng-if="['leader', 'admin'].indexOf(userinfo.role)!=-1">区域管理</a>
        <a href="" class="list-group-item" ng-click="selectMenu(5)" ng-class="{active: selectedMenu == 5}" ng-if="['leader', 'admin'].indexOf(userinfo.role)!=-1">行业管理</a>
        <a href="" class="list-group-item" ng-click="selectMenu(6)" ng-class="{active: selectedMenu == 6}" ng-if="['leader', 'admin'].indexOf(userinfo.role)!=-1">代理商管理</a>
        <a href="" class="list-group-item" ng-click="selectMenu(7)" ng-class="{active: selectedMenu == 7}" ng-if="['leader', 'admin'].indexOf(userinfo.role)!=-1">项目类型管理</a>
      </ul>
    </div>
    <div class="col-sm-9" ng-switch="selectedMenu">
      <!-- 修改密码 -->
      <div class="row" ng-switch-when="0" style="width:300px;">
        <form name="form0">
          <div class="alert alert-danger" ng-if="tabs[0].error">{{tabs[0].error}}</div>
          <div class="alert alert-success" ng-if="tabs[0].success">{{tabs[0].success}}</div>
          <div class="form-group">
            <input type="password" class="form-control" placeholder="密码" required ng-model="tabs[0].pwd"></input>
            <input type="password" class="form-control" placeholder="确认密码" required ng-model="tabs[0].pwd2"></input>
          </div>
          <div class="form-group">
            <button class="btn btn-primary btn-block" ng-click="tabs[0].save($event, form0)">保存</button>
          </div>
        </form>
      </div>
      <!-- 修改用户 -->
      <div class="row" ng-switch-when="1">
        <form name="form1" style="width:300px;">
          <div class="alert alert-danger" ng-if="tabs[1].error">{{tabs[1].error}}</div>
          <div class="alert alert-success" ng-if="tabs[1].success">{{tabs[1].success}}</div>
          <div class="form-group">
            <select class="form-control" ng-model="tabs[1].user._id" ng-options="u._id as u.realname for u in tabs[1].allUsers.list" ng-change="tabs[1].selectUser()">
              <option value="">选择用户</option>
            </select>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-sm-8">
                <input type="text" class="form-control" ng-model="tabs[1].user.realname" placeholder="昵称" ng-disabled="!tabs[1].user._id"></input>
              </div>
              <div class="col-sm-4">
                <button class="btn btn-primary" type="button" ng-click="tabs[1].updateRealname($event)" ng-disabled="!tabs[1].user._id">修改昵称</button>
              </div>
            </div>
          </div>
          <div class="form-group" ng-if="userinfo.role == 'admin'">
            <div class="row">
              <div class="col-sm-8">
                <select class="form-control" ng-model="tabs[1].user.role" ng-disabled="!tabs[1].user._id">
                  <option value="supporter">客服</option>
                  <option value="leader" ng-if="userinfo.role == 'admin'">客服主管</option>
                  <option value="finance" ng-if="userinfo.role == 'admin'">财务</option>
                </select>
              </div>
              <div class="col-sm-4">
                <button class="btn btn-primary" type="button" ng-click="tabs[1].updateRole($event)" ng-disabled="!tabs[1].user._id">修改角色</button>
              </div>
            </div>
          </div>
          <div class="form-group">
            <button class="btn btn-danger btn-block" type="button" ng-click="tabs[1].resetPwd($event)" ng-disabled="!tabs[1].user._id">重置密码</button>
          </div>
        </form>
      </div>
      <!-- 添加用户 -->
      <div class="row" ng-switch-when="2">
        <form name="form2" style="width:300px;">
          <div class="alert alert-danger" ng-if="tabs[2].error">{{tabs[2].error}}</div>
          <div class="alert alert-success" ng-if="tabs[2].success">{{tabs[2].success}}</div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="用户名" ng-model="tabs[2].newUser.uname" required></input>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="昵称" ng-model="tabs[2].newUser.realname" required></input>
          </div>
          <div class="form-group">
            <input type="password" class="form-control" placeholder="密码" ng-model="tabs[2].newUser.pwd" required></input>
          </div>
          <div class="form-group">
            <select type="text" class="form-control" ng-model="tabs[2].newUser.role" ng-init="tabs[2].newUser.role = 'supporter'">
              <option value="supporter">客服</option>
              <option value="leader" ng-if="userinfo.role == 'admin'">客服主管</option>
              <option value="finance" ng-if="userinfo.role == 'admin'">财务</option>
            </select>
          </div>
          <div class="form-group">
            <button class="btn btn-primary btn-block" ng-click="tabs[2].save($event, form2)">保存</button>
          </div>
        </form>
      </div>
      <!-- 销售管理 -->
      <div class="row" ng-switch-when="3">
        <div class="panel panel-default">
          <div class="panel-heading">
            销售({{tabs[3].salesData.length}})
            <button type="button" class="btn btn-primary btn-xs pull-right" data-toggle="modal" data-target="#salesModal" data-backdrop="static" ng-click="tabs[3].addSales()">
              <span class="glyphicon glyphicon-plus"></span>
            </button>
          </div>
          <div class="panel-body">
            <form class="form-inline">
              <select class="form-control" ng-model="tabs[3].selectedSales.area._id" ng-options="a._id as a.name for a in tabs[3].areaData.list" ng-change="tabs[3].changeArea()">
                <option value="">区域</option>
              </select>
              <select class="form-control" ng-model="tabs[3].selectedSales.company._id" ng-options="c._id as c.name for c in tabs[3].selectedSales.companies" ng-change="tabs[3].changeCompany()">
                <option value="">分公司</option>
              </select>
            </form>
          </div>
          <table class="table table-hover">
            <tr>
              <th>名称</th>
              <th>电话</th>
              <th>所属分公司</th>
              <th></th>
            </tr>
            <tr ng-repeat="s in tabs[3].salesData">
              <td>{{s.name}}</td>
              <td>{{s.phone}}</td>
              <td>{{s.company.name}}</td>
              <td>
                <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#salesModal" data-backdrop="static" ng-click="tabs[3].selectSales(s)">
                  <span class="glyphicon glyphicon-edit"></span>
                </button>
              </td>
            </tr>
          </table>
          <!--  <ul class="pagination">
            <li ng-class="{disabled: !tabs[3].salesData.minPage || tabs[3].salesData.minPage <= 1}" ng-click="tabs[3].prePages(tabs[3].salesData)"><a href="">&laquo;</a>
            </li>
            <li ng-repeat="p in tabs[3].salesData.pageArr" ng-class="{active: p == tabs[3].salesData.curPage}" ng-click="tabs[3].goPage(tabs[3].salesData, p)"><a href="">{{p}}</a>
            </li>
            <li ng-class="{disabled: !tabs[3].salesData.maxPage || tabs[3].salesData.maxPage >= tabs[3].salesData.totalPage}" ng-click="tabs[3].nextPages(tabs[3].salesData)"><a href="">&raquo;</a>
            </li>
          </ul> -->
        </div>
      </div>
      <!-- 区域管理 -->
      <div class="row" ng-switch-when="4">
        <div class="panel panel-default">
          <div class="panel-heading">
            区域管理
            <button type="button" class="btn btn-primary btn-xs pull-right" data-toggle="modal" data-target="#areaModal" data-backdrop="static" ng-click="tabs[4].addArea()">
              <span class="glyphicon glyphicon-plus"></span>
            </button>
            <div class="clearfix"></div>
          </div>
          <table class="table table-hover">
            <tr>
              <th>区域</th>
              <th>经理</th>
              <th></th>
            </tr>
            <tr ng-repeat="area in tabs[4].areaData.list" ng-click="tabs[4].selectArea(area)">
              <td>{{area.name}}</td>
              <td>
                <span ng-repeat="m in area.managers">{{m.name}},</span>
              </td>
              <td>
                <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#areaModal" data-backdrop="static" ng-click="tabs[4].editArea(area)">
                  <span class="glyphicon glyphicon-edit"></span>
                </button>
              </td>
            </tr>
          </table>
          <ul class="pagination">
            <li ng-class="{disabled: !tabs[4].areaData.minPage || tabs[4].areaData.minPage <= 1}" ng-click="tabs[4].prePages(tabs[4].areaData)"><a href="">&laquo;</a>
            </li>
            <li ng-repeat="p in tabs[4].areaData.pageArr" ng-class="{active: p == tabs[4].areaData.curPage}" ng-click="tabs[4].goAreaPage(tabs[4].areaData, p)"><a href="">{{p}}</a>
            </li>
            <li ng-class="{disabled: !tabs[4].areaData.maxPage || tabs[4].areaData.maxPage >= tabs[4].areaData.totalPage}" ng-click="tabs[4].nextPages(tabs[4].areaData)"><a href="">&raquo;</a>
            </li>
          </ul>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            分公司管理
            <button type="button" class="btn btn-primary btn-xs pull-right" data-toggle="modal" data-target="#areaModal" data-backdrop="static" ng-click="tabs[4].addArea(tabs[4].selectedArea._id)">
              <span class="glyphicon glyphicon-plus"></span>
            </button>
            <div class="clearfix"></div>
          </div>
          <table class="table table-hover">
            <tr>
              <th>分公司</th>
              <th>经理</th>
              <th></th>
            </tr>
            <tr ng-repeat="c in tabs[4].companyData.list">
              <td>{{c.name}}</td>
              <td>
                <span ng-repeat="m in c.managers">{{m.name}},</span>
              </td>
              <td>
                <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#areaModal" data-backdrop="static" ng-click="tabs[4].editArea(c)">
                  <span class="glyphicon glyphicon-edit"></span>
                </button>
              </td>
            </tr>
          </table>
          <ul class="pagination">
            <li ng-class="{disabled: !tabs[4].companyData.minPage || tabs[4].companyData.minPage <= 1}" ng-click="tabs[4].prePages(tabs[4].companyData)"><a href="">&laquo;</a>
            </li>
            <li ng-repeat="p in tabs[4].companyData.pageArr" ng-class="{active: p == tabs[4].companyData.curPage}" ng-click="tabs[4].goCompanyPage(tabs[4].companyData, p)"><a href="">{{p}}</a>
            </li>
            <li ng-class="{disabled: !tabs[4].companyData.maxPage || tabs[4].companyData.maxPage >= tabs[4].companyData.totalPage}" ng-click="tabs[4].nextPages(tabs[4].companyData)"><a href="">&raquo;</a>
            </li>
          </ul>
        </div>
      </div>
      <!-- 行业管理 -->
      <div class="row" ng-switch-when="5">
        <ul class="list-group" style="width: 300px;">
          <li class="list-group-item" ng-repeat="i in tabs[5].industries">{{i.name}}
            <button type="button" class="btn btn-danger btn-xs pull-right" ng-click="tabs[5].del(i)">X</button>
          </li>
          <li class="list-group-item">
            <form name="industryForm">
              <div class="alert alert-danger" ng-if="tabs[5].error">{{tabs[5].error}}</div>
              <div class="input-group">
                <input type="text" class="form-control" ng-model="tabs[5].newIndustry.name" required>
                <span class="input-group-btn">
                  <button class="btn btn-primary" ng-click="tabs[5].save(industryForm)">+</button>
                </span>
              </div>
            </form>
          </li>
        </ul>
      </div>
      <!-- 代理商管理 -->
      <div class="row" ng-switch-when="6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <button class="btn btn-primary btn-xs pull-right" data-toggle="modal" data-target="#agentModal" data-backdrop="static" ng-click="tabs[6].add()">
              <span class="glyphicon glyphicon-plus"></span>
            </button>
            <span class="clearfix"></span>
          </div>
          <table class="table table-hover">
            <tr>
              <th>代理商</th>
              <th>联系人</th>
              <th>电话</th>
              <th></th>
            </tr>
            <tr ng-repeat="a in tabs[6].agentData.list">
              <td>{{a.name}}</td>
              <td>{{a.people}}</td>
              <td>{{a.phone}}</td>
              <td>
                <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#agentModal" data-backdrop="static" ng-click="tabs[6].edit(a)">
                  <span class="glyphicon glyphicon-edit"></span>
                </button>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <!-- 项目类型管理 -->
      <div class="row" ng-switch-when="7">
        <ul class="list-group" style="width: 300px;">
          <li class="list-group-item" ng-repeat="p in tabs[7].projectTypes">{{p.name}}
            <button type="button" class="btn btn-danger btn-xs pull-right" ng-click="tabs[7].del(p)">X</button>
          </li>
          <li class="list-group-item">
            <form name="typeForm">
              <div class="alert alert-danger" ng-if="tabs[7].error">{{tabs[7].error}}</div>
              <div class="input-group">
                <input type="text" class="form-control" ng-model="tabs[7].newType.name" required>
                <span class="input-group-btn">
                  <button class="btn btn-primary" ng-click="tabs[7].save(typeForm)">+</button>
                </span>
              </div>
            </form>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>


<!-- 添加销售 -->
<div id="salesModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">销售管理</h4>
      </div>
      <form name="formSales" class="form-horizontal">
        <div class="modal-body">
          <div class="form-group">
            <label class="control-label col-sm-2">名称</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" required ng-model="tabs[3].selectedSales.name"></input>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2">电话</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" ng-model="tabs[3].selectedSales.phone"></input>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2">区域</label>
            <div class="col-sm-10">
              <select class="form-control" ng-model="tabs[3].selectedSales.area._id" ng-options="a._id as a.name for a in tabs[3].areaData.list" ng-change="tabs[3].changeArea()">
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2">分公司</label>
            <div class="col-sm-10">
              <select class="form-control" ng-model="tabs[3].selectedSales.company._id" ng-options="c._id as c.name for c in tabs[3].selectedSales.companies" ng-change="tabs[3].changeCompany()"></select>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2">经理</label>
            <div class="col-sm-10">
              <select class="form-control" ng-model="tabs[3].selectedSales.company.manager._id" ng-options="m._id as m.name for m in tabs[3].selectedSales.company.managers" ng-change="tabs[3].changeManager()"></select>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
          <button type="submit" class="btn btn-primary" ng-click="tabs[3].save(formSales)">保存</button>
        </div>
      </form>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


<!-- 添加区域 -->
<div id="areaModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">区域/分公司 管理</h4>
      </div>
      <form name="areaForm" class="form-horizontal">
        <div class="modal-body">
          <div class="form-group">
            <label class="control-label col-sm-2">名称</label>
            <div class="col-sm-10">
              <input class="form-control" ng-model="tabs[4].selectedArea.name" required></input>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2">经理</label>
            <div class="col-sm-10">
              <ul class="list-unstyled">
                <li ng-repeat="m in tabs[4].selectedArea.managers">
                  {{m.name}}
                  <button type="button" class="btn btn-default btn-xs" ng-click="tabs[4].selectedArea.managers.splice($index, 1)">x</button>
                </li>
              </ul>
              <div class="input-group">
                <!-- <input id="newManager" type="text"></input> -->
                <typeahead id="newManager" name="newManager" value-key="name" remote="/api/sales?s=%QUERY" model="tabs[4].newManager.name" datum="tabs[4].newManager"></typeahead>
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="tabs[4].addManager()">
                    <span class="glyphicon glyphicon-plus"></span>
                  </button>
                </span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2">所属区域</label>
            <div class="col-sm-10">
              <select class="form-control" ng-model="tabs[4].selectedArea.parent" ng-options="a._id as a.name for a in tabs[4].allAreas">
                <option value=""></option>
              </select>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
          <button class="btn btn-primary" ng-click="tabs[4].save()" ng-class="{disabled: !tabs[4].selectedArea.name}">保存</button>
        </div>
      </form>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- 添加代理商 -->
<div id="agentModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">代理商管理</h4>
      </div>
      <form name="agentForm" class="form-horizontal">
        <div class="modal-body">
          <div class="form-group">
            <label class="control-label col-sm-2">名称</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" ng-model="tabs[6].newAgent.name" required>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2">联系人</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" ng-model="tabs[6].newAgent.people">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2">电话</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" ng-model="tabs[6].newAgent.phone">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
          <button class="btn btn-primary" ng-click="tabs[6].save(agentForm)">保存</button>
        </div>
      </form>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
