<!-- navbar -->
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">AIM.CRM</a>
    </div>
    <ul class="nav navbar-nav">
      <li ng-class="{active: curCountItem == 'area'}"><a href="javascript:void(0);" ng-click="showCount('area')">区域 <b class="caret"></b></a>
      </li>
      <li ng-class="{active: curCountItem == 'city'}"><a href="javascript:void(0);" ng-click="showCount('city')">分公司 <b class="caret"></b></a>
      </li>
      <li ng-class="{active: curCountItem == 'industry'}"><a href="javascript:void(0);" ng-click="showCount('industry')">行业 <b class="caret"></b></a>
      </li>
      <li ng-class="{active: curCountItem == 'proType'}"><a href="javascript:void(0);" ng-click="showCount('proType')">项目类型 <b class="caret"></b></a>
      </li>
      <li ng-class="{active: isShowFilter}"><a href="javascript:void(0);" ng-click="showFilter()">筛选 <b class="caret"></b></a>
      </li>
    </ul>
    <!-- user -->
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="" class="dropdown-toggle" data-toggle="dropdown">User <span class="badge">{{num}}</span> <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="">通知 <span class="badge pull-right">{{num}}</span></a> </li>
          <li class="divider"></li>
          <li><a href="">财务</a> </li>
          <li class="divider"></li>
          <li><a href="">设置</a> </li>
          <li class="divider"></li>
          <li><a href="">修改密码</a> </li>
          <li class="divider"></li>
          <li><a href="">退出</a> </li>
        </ul>
      </li>
    </ul>
    <!-- user end -->
  </div>
</nav>

<!-- navbar end -->

<!-- container -->
<div class="container">
  <!-- count -->
  <div class="well well-sm count" ng-show="isShowCount">
    <ul>
      <li>aaa
        <span class="badge">3</span>
      </li>
      <li>aaa
        <span class="badge">3</span>
      </li>
      <li>aaa
        <span class="badge">3</span>
      </li>
    </ul>
    <div class="clearfix"></div>
  </div>
  <!-- count end -->

  <!-- filter -->
  <div class="well well-sm filter" ng-show="isShowFilter">
    <form class="form-inline">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="最低金额">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="最高金额">
      </div>
      <div class="form-group">
        <select name="" id="" class="form-control">
          <option value="">选项</option>
        </select>
      </div>
      <br>
      <br>
      <button class="btn btn-default" type="button">重置</button>
      <button class="btn btn-primary" type="button">筛选</button>
    </form>
  </div>
  <!-- filter end -->

  <!-- project panel -->
  <div class="panel panel-default">
    <div class="panel-heading">
      项目
      <span class="badge">100</span>
      <button class="btn btn-primary btn-xs pull-right" type="button" data-toggle="modal" data-target="#addModal" data-backdrop="static">
        <span class="glyphicon glyphicon-plus"></span>
      </button>
      <div class="clearfix"></div>
    </div>
    <table class="table table-hover">
      <tr>
        <th>#</th>
        <th>项目名</th>
        <th>项目类型</th>
        <th>分公司</th>
        <th>销售</th>
        <th>行业</th>
        <th>当前状态</th>
        <th>客服</th>
        <th>标签</th>
        <th>操作</th>
      </tr>
      <tr ng-repeat-start="p in projectData.list">
        <td>
          <button class="btn btn-xs" ng-click="p.isShowMore = !p.isShowMore">
            <span class="glyphicon" ng-class="{'glyphicon-chevron-up': !p.isShowMore, 'glyphicon-chevron-down': p.isShowMore}"></span>
          </button>
        </td>
        <td ng-click="editField($event, p)">
          <span class="view">{{p.projectName}}</span>
          <span class="edit hide">
            <input type="text" class="form-control" ng-model="p.projectName" ng-blur="save($event, p, 'projectName')">
          </span>
        </td>
        <td ng-click="editField($event, p)">
          <span class="view">{{p.projectType}}</span>
          <span class="edit hide">
            <!-- <input type="text" class="form-control" ng-model="p.projectType" ng-blur="save($event, p, 'projectType')"> -->
            <select class="form-control" ng-model="p.projectType" ng-blur="save($event, p, 'projectType')">
              <option value="123">123</option>
              <option value="222">222</option>
            </select>
          </span>
        </td>
        <td ng-click="editField($event, p)">
          <span class="view">{{p.companyName}}</span>
          <span class="edit hide">
            <input type="text" class="form-control" ng-model="p.company" ng-blur="save($event, p, 'company')">
          </span>
        </td>
        <td ng-click="editField($event, p)">
          <span class="view">{{p.salesName}}</span>
          <span class="edit hide">
            <input type="text" class="form-control" ng-model="p.sales" ng-blur="save($event, p, 'sales')">
          </span>
        </td>
        <td ng-click="editField($event, p)">
          <span class="view">{{p.industry}}</span>
          <span class="edit hide">
            <select class="form-control" ng-model="p.industry" ng-blur="save($event, p, 'industry')">
              <option value="123">123</option>
              <option value="222">222</option>
            </select>
          </span>
        </td>
        <td>{{p.curStatus}}</td>
        <td ng-click="editField($event, p)">
          <span class="view">{{p.supporterName}}</span>
          <span class="edit hide">
            <select class="form-control" ng-model="p.supporter" ng-blur="save($event, p, 'supporter')">
              <option value="123">123</option>
              <option value="222">222</option>
            </select>
          </span>
        </td>
        <td ng-click="editField($event, p)">
          <span class="view">{{p.tags}}</span>
          <span class="edit hide">
            <input type="text" class="form-control" ng-model="p.tags" ng-blur="save($event, p, 'tags')">
          </span>
        </td>
        <td>
          <button class="btn btn-xs" type="button" data-toggle="modal" data-target="#commentModal" data-backdrop="static">
            <span class="glyphicon glyphicon-comment"></span>
          </button>
        </td>
      </tr>
      <tr ng-repeat-end ng-show="p.isShowMore">
        <td colspan="10">
          <div class="well well sm">
            <table class="table table-hover">
              <tr>
                <th>代理商</th>
                <th>价钱</th>
                <th>区域</th>
                <th>经理</th>
                <th>购买/年</th>
                <th>客户全称</th>
              </tr>
              <tr>
                <td ng-click="editField($event, p)">
                  <span class="view">{{p.agent}}</span>
                  <span class="edit hide">
                    <select class="form-control" ng-model="p.agent" ng-blur="save($event, p, 'agent')">
                      <option value="123">123</option>
                      <option value="222">222</option>
                    </select>
                  </span>
                </td>
                <td ng-click="editField($event, p)">
                  <span class="view">{{p.price}}</span>
                  <span class="edit hide">
                    <input type="text" class="form-control" ng-model="p.price" ng-blur="save($event, p, 'price')">
                  </span>
                </td>
                <td ng-click="editField($event, p)">
                  <span class="view">{{p.areaName}}</span>
                  <span class="edit hide">
                    <input type="text" class="form-control" ng-model="p.area" ng-blur="save($event, p, 'area')">
                  </span>
                </td>
                <td ng-click="editField($event, p)">
                  <span class="view">{{p.managerName}}</span>
                  <span class="edit hide">
                    <input type="text" class="form-control" ng-model="p.manager" ng-blur="save($event, p, 'manager')">
                  </span>
                </td>
                <td ng-click="editField($event, p)">
                  <span class="view">{{p.buyYear}}</span>
                  <span class="edit hide">
                    <input type="text" class="form-control" ng-model="p.buyYear" ng-blur="save($event, p, 'buyYear')">
                  </span>
                </td>
                <td ng-click="editField($event, p)">
                  <span class="view">{{p.client}}</span>
                  <span class="edit hide">
                    <input type="text" class="form-control" ng-model="p.client" ng-blur="save($event, p, 'client')">
                  </span>
                </td>
              </tr>
              <tr>
                <th>下单日期</th>
                <th>后台账号/密码</th>
                <th>后台创建者</th>
                <th>微信账号/密码</th>
                <th>微信类型</th>
                <th>EC企业ID</th>
              </tr>
              <tr>
                <td ng-click="editField($event, p)">
                  <span class="view">{{p.orderDate}}</span>
                  <span class="edit hide">
                    <input type="date" class="form-control" ng-model="p.orderDate" ng-blur="save($event, p, 'orderDate')">
                  </span>
                </td>
                <td ng-click="editField($event, p)">
                  <span class="view">{{p.maeAccount}} : {{p.maePwd}}</span>
                  <span class="edit hide">
                    <input type="text" class="form-control" ng-model="p.maeAccount">
                    <input type="text" class="form-control" ng-model="p.maePwd" ng-blur="save($event, p, 'maeAccount', 'maePwd')">
                  </span>
                </td>
                <td ng-click="editField($event, p)">
                  <span class="view">{{p.maeCreatorName}}</span>
                  <span class="edit hide">
                    <select class="form-control" ng-model="p.maeCreator" ng-blur="save($event, p, 'maeCreator')">
                      <option value="123">123</option>
                      <option value="222">222</option>
                    </select>
                  </span>
                </td>
                <td ng-click="editField($event, p)">
                  <span class="view">{{p.wxAccount}} : {{p.wxPwd}}</span>
                  <span class="edit hide">
                    <input type="text" class="form-control" ng-model="p.wxAccount">
                    <input type="text" class="form-control" ng-model="p.wxPwd" ng-blur="save($event, p, 'wxAccount', 'wxPwd')">
                  </span>
                </td>
                <td ng-click="editField($event, p)">
                  <span class="view">{{p.wxType}}</span>
                  <span class="edit hide">
                    <select class="form-control" ng-model="p.wxType" ng-blur="save($event, p, 'wxType')">
                      <option value="123">123</option>
                      <option value="222">222</option>
                    </select>
                  </span>
                </td>
                <td ng-click="editField($event, p)">
                  <span class="view">{{p.ecId}}</span>
                  <span class="edit hide">
                    <input type="text" class="form-control" ng-model="p.ecId" ng-blur="save($event, p, 'ecId')">
                  </span>
                </td>
              </tr>
              <tr>
                <th>发送EC盒子日期</th>
                <th>上线日期</th>
                <th>上线审核者</th>
                <th colspan="3">备注</th>
              </tr>
              <tr>
                <td ng-click="editField($event, p)">
                  <span class="view">{{p.sendEcBoxDate}}</span>
                  <span class="edit hide">
                    <input type="date" class="form-control" ng-model="p.sendEcBoxDate" ng-blur="save($event, p, 'sendEcBoxDate')">
                  </span>
                </td>
                <td>{{p.onlineDate}}</td>
                <td>{{p.onlineReviewer}}</td>
                <td ng-click="editField($event, p)" colspan="3">
                  <span class="view" ng-bind-html="p.memo | wrap"></span>
                  <span class="edit hide">
                    <textarea class="form-control" ng-model="p.memo" ng-blur="save($event, p, 'memo')" cols="30" rows="10"></textarea>
                  </span>
                </td>
              </tr>
            </table>
          </div>
        </td>
      </tr>
    </table>
    <ul class="pagination">
      <li ng-click="prePages()" ng-class="{disabled: projectData.minPage == 1}"><a href="javascript:void(0);">&laquo;</a>
      </li>
      <li ng-click="goPage(p)" ng-repeat="p in projectData.pageArr" ng-class="{active: p == projectData.curPage}"><a href="javascript:void(0);">{{p}}</a>
      </li>
      <li ng-click="nextPages()" ng-class="{disabled: projectData.maxPage == projectData.totalPage}"><a href="javascript:void(0);">&raquo;</a>
      </li>
    </ul>
  </div>
  <!-- project panel end -->
</div>

<!-- container end -->

<!-- add project modal -->
<div id="addModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> -->
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <p>One fine body&hellip;</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- end add project modal -->


<!-- comment modal -->
<div id="commentModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> -->
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <p>One fine body&hellip;</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- end comment modal -->
